.ani__doongdoong {
    animation: doongdoong 1s ease-in-out infinite alternate;
}
@keyframes doongdoong {
    0% {
        transform: translateY(-4px);
    }
    100% {
        transform: translateY(2px);
    }
}

.container {
    position: relative;
    max-width: 136rem;
    margin: 0 auto;
    padding: 0 8rem;
    height: 100%;
}

.header {
    height: 6rem;
}
.header__logo {
    position: absolute;
    top: 1rem;
    width: 10rem;
    height: 4rem;
    background: url('../images/logo.svg') no-repeat;
}
.gnb {
    height: 100%;
    margin-left: 18rem;
}
.gnb .menu-list {
    display: flex;
    align-items: center;
    gap: 2.8rem;
    height: 100%;
}
.menu__item {
    color: var(--gray800);
    font-weight: 500;
    font-size: 1.4rem;
}
.menu__item:hover {
    text-decoration: underline;
}

.visual-section {
    position: relative;
    height: calc(100vh - 6rem);
    min-height: 96.7rem;
    padding-top: 16rem;
    background-color: var(--gray900);
    color: var(--white);
    text-align: center;
    box-sizing: border-box;
}
.visual-section:before,
.visual-section:after {
    position: absolute;
    top: 0;
    display: block;
    width: 20rem;
    height: 100%;
    background: linear-gradient(90deg, rgba(43, 43, 43, 0.00) 0%, #2B2B2B 100%);
    content: '';
    z-index: 10;
}
.visual-section:before { left: 0; transform: rotate(180deg); }
.visual-section:after { right: 0; }
.visual__text-wrap {
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
}
.visual__text-wrap > h1 {
    line-height: 1.25em;
    font-weight: 700;
    font-size: 6.4rem;;
}
.visual__text-wrap > h1 br {
    display: none;
}
.visual__desc {
    line-height: 1.55em;
    font-size: 1.8rem;;
}

.store-link {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 1.2rem 3.2rem;
    border-radius: 3.2rem;
    border: 1px solid var(--white);
    transition: .2s ease;
    cursor: pointer;
}
.store-link:not(:last-child) {
    margin-right: 1.2rem;
}
.store-link:hover {
    background-color: rgba(255, 255, 255, .2);
}

.visual__slide {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding-bottom: 1.6rem;
}
.visual__slide .slide-template {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 38.1rem;
}
.swiper-slide .slide-img {
    width: 34.3rem;

}


/* .swiper-wrapper {
    padding-left: 1.2rem;
} */

.swiper-slide {
    width: auto;
}

/* .swiper-slide-prev {
    margin-right: 1.6rem !important;
}
.swiper-slide-next {
    margin-left: 1.6rem !important;
} */
/* .swiper-slide-active {
    margin: 0 3.2rem !important;
} */

.bg-main050 { background-color: var(--main050); }
.bg-gray100 { background-color: var(--gray100); }


.section-item > .container {
    display: flex;
    align-items: center;
    padding-top: 4rem;
}
.flex-reverse {
    flex-direction: row-reverse;
}
.section__text-wrap,
.section__img-wrap {
    flex: 1 0 50%;
}
.section__text-wrap {
    padding-left: 10rem;
}

.category {
    margin-bottom: 0.8rem;
    color: var(--main500);
    line-height: 1.5em;
    font-weight: 600;
    font-size: 1.8rem;
}
.section__title {
    color: var(--gray900);
    line-height: 1.3em;
    font-weight: 700;
    font-size: 5.2rem;
}
.section__desc {
    color: var(--gray600);
    line-height: 1.6em;
    font-size: 2rem;
}

.section__title + .section__desc {
    margin-top: 1.6rem;
}

.section__img-wrap {
    position: relative;
    width: 60rem;
    height: 71rem;
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: contain;
}

.home__img { background-image: url('../images/home__img.png'); }
.community__img { background-image: url('../images/community__img.png'); }
.market__img { background-image: url('../images/market__img.png'); }
.brand__img { background-image: url('../images/brand__img.png'); }


.section__img-wrap .obj {
    position: absolute;
    width: 9.2rem;
    height: 9.2rem;
    background-repeat: no-repeat;
}
.section__img-wrap .obj--s { width: 6rem; height: 6rem; animation-delay: .3s; }

.obj1 { top: 28%; right: -4%; background-image: url('../images/obj1.svg'); }
.obj5 { top: 64%; left: 8%; background-image: url('../images/obj5.svg'); }
.obj2 { top: 54%; right: 6%; background-image: url('../images/obj2.svg'); }
.obj6 { top: 20%; left: 10%; background-image: url('../images/obj6.svg'); }
.obj3 { top: 62%; right: 6%; background-image: url('../images/obj3.svg'); }
.obj7 { top: 22%; left: 10%; background-image: url('../images/obj7.svg'); }
.obj4 { top: 28%; right: 5%; background-image: url('../images/obj4.svg'); }
.obj8 { top: 50%; left: 6%; background-image: url('../images/obj8.svg'); }

.community-category-wrap {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem 3.2rem;
    width: 37rem;
    margin-top: 3.2rem;
}
.community-category-wrap .category-item {
    display: flex;
    align-items: center;
    gap: 1.2rem;
    font-weight: 500;
    font-size: 1.6rem;
    white-space: nowrap;
}

.market-icon-wrap {
    display: flex;
    gap: 1.6rem;
}
.market-icon {
    width: 6.4rem;
    height: 6.4rem;
    margin-top: 4rem;
    border-radius: 50%;
    background-repeat: no-repeat;
}
.market-icon.icon1 { background-image: url('../images/market-icon/icon-building.svg'); }
.market-icon.icon2 { background-image: url('../images/market-icon/icon-coffee.svg'); }
.market-icon.icon3 { background-image: url('../images/market-icon/icon-funiture.svg'); }
.market-icon.icon4 { background-image: url('../images/market-icon/icon-homecafe.svg'); }
.market-icon.icon5 { background-image: url('../images/market-icon/icon-heart.svg'); }

.footer-gnb-wrap {
    display: flex;
    justify-content: space-between;
    padding: 8rem 0 6.5rem;
    border-bottom: 1px solid var(--gray300);
}
.footer__logo {
    width: 8rem;
    height: 3.2rem;
    background: url('../images/footer-logo.svg') no-repeat;
}
.footer .gnb {
    margin-left: 0;
}
.footer .gnb .menu-list {
    gap: 3.2rem;
}

.company-info-wrap {
    display: flex;
    justify-content: space-between;
    padding: 4rem 0 1.6rem;
}
.company-info-wrap address {
    color: var(--gray800);
    line-height: 1.7em;
    font-size: 1.3rem;
}
.company-info-wrap address strong {
    font-weight: 600;
}

.footer .store-link-wrap {
    display: flex;
    gap: 0.8rem;
}
.footer .store-link {
    justify-content: flex-start;
    width: 24.8rem;
    height: 6rem;
    padding: 0 0 0 1.6rem;
    border-radius: 1rem;
    background-color: var(--gray150);
    background: var(--gray150) url('../images/icon-download.svg') no-repeat right 1.8rem center;
    box-sizing: border-box;
}

.copyright-wrap {
    padding-bottom: 8rem;
}
.copyright {
    line-height: 1.7em;
    font-size: 1.3rem;
}

@media screen and (max-width: 1360px) {
    .container {
        padding: 0 2.4rem;
    }
    .visual__text-wrap > h1 {
        font-size: 5.2rem;
    }
    .section__text-wrap {
        padding-left: 6rem;
    }
    .section__title {
        font-size: 4rem;
    }
    .section__title + .section__desc {
        margin-top: 1.2rem;
    }
    .section__desc {
        line-height: 1.35em;
        font-size: 1.8rem;
    }
}


@media screen and (max-width: 896px) {
    @keyframes doongdoong {
        0% {
            transform: translateY(-2px);
        }
        100% {
            transform: translateY(2px);
        }
    }
    .container {
        padding: 0 1.6rem;
    }
    .header__logo {
        top: 1.2rem;
        width: 8rem;
        height: 3.2rem;
        background-size: contain;
    }
    .gnb {
        margin-left: 10rem;
    }
    .gnb .menu-list {
        gap: 1.6rem;
    }
    .menu__item {
        font-size: 1.3rem;
    }
    .visual-section {
        padding-top: 6rem;
        min-height: 80rem;
    }
    .visual-section:before,
    .visual-section:after {
        display: none;
    }
    .visual__text-wrap {
        gap: 1.6rem;
    }
    .visual__text-wrap > h1 {
        font-size: 3.6rem;
    }
    .visual__text-wrap > h1 br {
        display: block;
    }
    .store-link-wrap {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0.8rem;
    }
    .store-link:not(:last-child) {
        margin-right: 0;
    }
    .store-link {
        margin: 0;
    }
    .store-link > img {
        width: 10.4rem;
    }
    .visual__slide .slide-template {
        width: 32rem;
    }
    .swiper-slide .slide-img {
        width: 28rem;
    }
    .section-item > .container {
        flex-direction: column;
    }
    .section__text-wrap {
        padding-left: 0;
        text-align: center;
    }
    .section__text-wrap,
    .section__img-wrap {
        flex: auto;
    }
    .category {
        font-size: 1.6rem;
    }
    .section__title {
        font-size: 3.2rem;
    }
    .section__title + .section__desc {
        margin-top: 1.2rem;
        font-size: 1.6rem;
    }
    .section__desc {
        line-height: 1.35em;
        font-size: 1.8rem;
    }
    .section__img-wrap {
        width: 34rem;
        height: 42rem;
    }
    .section__img-wrap .obj {
        width: 6rem;
        height: 6rem;
        background-size: contain;
    }
    .section__img-wrap .obj--s {
        width: 3.6rem;
        height: 3.6rem;
    }
    .obj1 { right: 0%; }
    .obj5 { top: 66%; }
    .obj2 { top: 55%; }
    .obj3 { top: 64%; }
    .community-category-wrap {
        gap: 1rem 2rem;
        width: 30rem;
        margin-top: 2.4rem;
    }
    .category-item > img {
        width: 2.4rem;
    }
    .community-category-wrap .category-item {
        gap: 0.8rem;
        font-size: 1.4rem;
    }
    .market-icon {
        width: 4.8rem;
        height: 4.8rem;
        margin-top: 2.4rem;
        background-size: contain;
    }
    .footer-gnb-wrap {
        flex-direction: column;
        padding: 4rem 0 4.5rem;
    }
    .footer .gnb {
        margin-top: 1.6rem;
    }
    .company-info-wrap {
        flex-direction: column;
        gap: 1.6rem;
        padding-top: 2rem;
    }
    .footer .store-link-wrap {
        flex-direction: row;
        align-items: flex-start;
    }
    .footer .store-link {
        width: 100%;
        height: 4.8rem;
        padding-left: 1rem;
        border-radius: 0.6rem;
        background-position: right 1.2rem center;
    }
    .footer .store-link > img {
        width: 10rem;
    }
}